<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">StudentCab</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="/about">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="/contact">Contact</a>
        </li>
        <li *ngIf="currentLoggedInId == null" class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="/login" data-toggle="modal" data-target="#modalLRForm">Sign
            in</a>
        </li>
        <li *ngIf="currentLoggedInId != null" class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="/logout" data-toggle="modal" data-target="#logout_modal">Log
            out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header class="bg-primary text-white">
  <div class="imagineTaxi">
    <img src="assets/images/t.png" id="imagineTaxi">
  </div>
  <div class="container text-center">
    <h1>Hello there, driver!</h1>
    <p class="lead">Drive carefully!</p>
  </div>
</header>

<div class="tables_">
  <h3>Your next trips</h3>
  <button class="btn btn-primary" routerLink="/new_trip" style="margin-bottom: 10px;">Add new trip</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Time</th>
        <th scope="col">Cost</th>
        <th scope="col">Seats</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trip of trips_list">
        <ng-container *ngIf="trip.driver_id == currentLoggedInId">
          <td>{{trip.trip_name }}</td>
          <td>{{trip.trip_from }}</td>
          <td>{{trip.trip_to }}</td>
          <td>{{trip.trip_time | date: "shortDate" }}</td>
          <td>{{trip.cost }}</td>
          <td>{{trip.trip_seats }}</td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>

<div class="tables_">
  <h3>Requests</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nr.</th>
        <th scope="col">Name</th>
        <th scope="col">Y/N</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>etc</td>
        <td><button class="btn btn-success" style="padding: 0px !important; margin-right: 4px;">O</button><button class="btn btn-danger"
            style="padding: 0px !important">X</button></td>
      </tr>
    </tbody>
  </table>
</div>
