#imagineTaxi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 15%;
  max-height: 15%;
  height: auto;
  width: auto;
  margin: 0 auto;
  margin-top: -100px;
}

header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
}

#padd_ {
  padding: 120px;
}

.tables_ {
  padding: 120px;
  text-align: center;
}



/* agm-map {
  height: 300px;
<<<<<<< HEAD
  width: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
=======
} */
>>>>>>> 72475d5106b3a9d296ed69d6ca22a29f651d23e7
