/* You can add global styles to this file, and also import other style files */

.bg-dark {
  background-color: #eac73c !important;
}

dark .navbar-nav .nav-link:hover {
  color: black;
}

navbar-dark .navbar-nav .nav-link {
  color: black;
}

.navbar-brand:hover {
  color: black;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: black;
}

.navbar-dark[_ngcontent-c1] .navbar-nav[_ngcontent-c1] .nav-link[_ngcontent-c1]:hover {
  color: black;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: black;
}

.navbar-dark .navbar-nav .nav-link {
  color: black;
}
