#form1_ {
  width: 80%;
  margin: 0 auto;
}

#form2_ {
  width: 80%;
  margin: 0 auto;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: white;
  /* background-color: #fff; */
  background-color: #17a2b8;
  border-color: #dee2e6 #dee2e6 #fff;
}
