header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
}

#imagineTaxi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 15%;
  max-height: 15%;
  height: auto;
  width: auto;
  margin: 0 auto;
  margin-top: -100px;
}

#soferPasager {
  display: -webkit-inline-box;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* #soferPasager2 {
  vertical-align: middle;
  border-style: none;
  margin-top: 5%;
  margin-right: 20px;
  max-width: 0.5%;
} */

#sofer_ {
  width: 250px;
  margin-right: 37px;
  margin-left: 37px;
}

#pasager_ {
  width: 250px;
  margin-right: 37px;
  margin-left: 37px;
}

section[_ngcontent-c1] {
  padding: 50px 0;
}

#costumer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}

#taxi2 {
  margin: 0 auto;
  max-width: 26%;
  max-height: 196px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

agm-map {
  height: 300px;
}

#chart {
  margin-left: 35%;
  margin-top: 2%;
  width: 700px;
  margin-bottom: 5%;
}
