header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
}

#imagineTaxi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 15%;
  max-height: 15%;
  height: auto;
  width: auto;
  margin: 0 auto;
  margin-top: -100px;
}

#soferPasager {
  display: -webkit-inline-box;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* #soferPasager2 {
  vertical-align: middle;
  border-style: none;
  margin-top: 5%;
  margin-right: 20px;
  max-width: 0.5%;
} */

#sofer_ {
  width: 250px;
  margin-right: 37px;
  margin-left: 37px;
}

#pasager_ {
  width: 250px;
  margin-right: 37px;
  margin-left: 37px;
}
