<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">StudentCab</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" (click)="scrollToSection('about')" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="/about">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" (click)="scrollToSection('contact')" routerLink="/contact">Contact </a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="/login" data-toggle="modal" data-target="#modalLRForm">Sign
            in</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header class="bg-primary text-white">
  <div class="imagineTaxi">
    <img src="assets/images/t.png" id="imagineTaxi">
  </div>
  <div class="container text-center">
    <h1>Welcome to StudentCab</h1>
    <p class="lead">Your favourite car sharing app</p>
    <div>
      <h1>You are:</h1>
      <div class="imagini" id="soferPasager">
        <div class="imagini">
          <img id="sofer_" (click)="driver($event)" src="assets/images/icon.png">
          <h2>Driver</h2>
        </div>
        <div class="imagini">
          <img id="pasager_" (click)="pasager($event)" src="assets/images/passager.png">
          <h2>Passenger</h2>
        </div>
      </div>
    </div>

  </div>
</header>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>About the app</h2>
        <p class="lead">We are happy that you are riding with us. You can find your next city journey and make new
          friends on your way. Our application is made so students like you can find cheaper ways to travel, in the
          city or in the whole country. We make sure that you are safe with us :</p>
        <ul>
          <li>Every driver is verified so you don't have to worry.</li>
          <li>Avaible at any hour.</li>
          <li>You don't have to wait a long time. We find your car in real time.</li>
        </ul>
      </div>

    </div>
    <img id="taxi2" src="assets/images/taxi2.png">

  </div>
</section>


<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Contact us</h2>
        <ul>
          <li>Mail: studentcab@gmail.com</li>
          <li>Phone: +40751317280.</li>
          <li>Address: 013708, Piața Presei Libere 3, Bucharest.</li>
        </ul>
        <h1>{{ title }}</h1>

        <!-- this creates a google map on the page with the given lat/lng from -->
        <!-- the component as the initial center of the map: -->
        <!-- lat: number = 44.477431;
             lng: number = 26.071625;-->
        <agm-map [zoom]="16" [latitude]="44.477431" [longitude]="26.071625">
          <agm-marker [latitude]="44.477431" [longitude]="26.071625"></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
</section>



<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
  </div>
  <!-- /.container -->
</footer>

<app-login></app-login>
