header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
}

#imagineTaxi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 15%;
  max-height: 15%;
  height: auto;
  width: auto;
  margin-left: 800px;
  margin-top: -100px;
}

.bg-dark {
  background-color: #eac73c !important;
}

dark .navbar-nav .nav-link:hover {
  color: black;
}

navbar-dark .navbar-nav .nav-link {
  color: black;
}

.navbar-brand:hover {
  color: black;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: black;
}

.navbar-dark[_ngcontent-c1] .navbar-nav[_ngcontent-c1] .nav-link[_ngcontent-c1]:hover {
  color: black;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: black;
}

.navbar-dark .navbar-nav .nav-link {
  color: black;
}

#soferPasager {
  display: -webkit-inline-box;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* #soferPasager2 {
  vertical-align: middle;
  border-style: none;
  margin-top: 5%;
  margin-right: 20px;
  max-width: 0.5%;
} */

#sofer_pasager_ {
  width: 250px;
  margin-right: 37px;
  margin-left: 37px;
}
