<div style="padding: 60px;">
  <h3>Add a new trip</h3>
  <div class="input-group" id="margin_">
    <input type="text" class="form-control" placeholder="Trip name" [(ngModel)]="trip_name">
  </div>
  <div class="input-group" id="margin_">
    <input type="text" class="form-control" placeholder="From" [(ngModel)]="trip_from">
  </div>
  <div class="input-group" id="margin_">
    <input type="text" class="form-control" placeholder="To" [(ngModel)]="trip_to">
  </div>
  <div class="input-group" id="margin_">
    <input type="text" class="form-control" placeholder="Time" [(ngModel)]="trip_time">
  </div>
  <div class="input-group" id="margin_">
    <input type="text" class="form-control" placeholder="Cost" [(ngModel)]="trip_cost">
  </div>
  <div class="input-group" id="margin_">
    <input type="text" class="form-control" placeholder="Available seats" [(ngModel)]="trip_seats">
  </div>

  <agm-map [latitude]="lat" [longitude]="lng" [scrollwheel]="true" [zoom]="zoom" [fullscreenControl]="true">
    <agm-marker [latitude]="lat" [longitude]="lng" [draggable]="true"></agm-marker>
  </agm-map>

  <button style="float: right; margin-top: 20px;" type="button" class="btn btn-primary" (click)="save()">Save changes</button>

</div>
