<div style="padding: 60px;">
  <h3>Add a new trip</h3>
  <div class="input-group" id="margin_">
    <input type="text" class="form-control" placeholder="Trip name" [(ngModel)]="trip_name">
  </div>
  <div class="input-group" id="margin_">
    <input type="text" class="form-control" placeholder="From" [(ngModel)]="trip_from">
  </div>
  <div class="input-group" id="margin_">
    <input type="text" class="form-control" placeholder="To" [(ngModel)]="trip_to">
  </div>
  <!-- date picker -->
  <div class="input-group" id="margin_">
    <input type="date" class="form-control" placeholder="Time" [(ngModel)]="trip_time">
  </div>
  <div class="input-group" id="margin_">
    <input type="text" class="form-control" placeholder="Cost" [(ngModel)]="cost">
  </div>
  <div class="input-group" id="margin_">
    <input type="text" class="form-control" placeholder="Available seats" [(ngModel)]="trip_seats">
  </div>

  <div class="col-md-12 stuff_">
    <div class="col-md-10">
      <agm-map [latitude]="lat" [longitude]="lng" [scrollwheel]="true" [zoom]="zoom" [fullscreenControl]="true">
        <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true" (dragEnd)="markerDragEnd(m, $event)"></agm-marker>
      </agm-map>
    </div>

    <div class="col-md-2">
      <button *ngIf="tripStart" class="btn btn-success" (click)="setStartPoint()">Set start point</button>
      <button *ngIf="tripEnd" class="btn btn-info" (click)="setEndPoint()">Set end point</button>
    </div>
  </div>

  <button style="float: right; margin-top: 20px;" type="button" class="btn btn-primary" (click)="save()">Save changes</button>

</div>
