<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">StudentCab</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="/about">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="/login" data-toggle="modal" data-target="#modalLRForm">Sign
            in</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header class="bg-primary text-white">
  <div class="imagineTaxi">
    <img src="assets/images/t.png" id="imagineTaxi">
  </div>
  <div class="container text-center">
    <h1>Hello there, passenger!</h1>
    <p class="lead">Choose your next journey!</p>
  </div>
</header>

<div class="tables_">
  <h3>Your available trips</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Time</th>
        <th scope="col">Cost</th>
        <th scope="col">Seats</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trip of available_trips" (click)="onClick(trip.driver_id)" style="cursor: pointer">
        <td>{{trip.trip_name }}</td>
        <td>{{trip.trip_from }}</td>
        <td>{{trip.trip_to }}</td>
        <td>{{trip.trip_time | date: "shortDate" }}</td>
        <td>{{trip.cost }}</td>
        <td>{{trip.trip_seats }}</td>
      </tr>
    </tbody>
  </table>

  <h3>History Rides</h3>
  <table class="table">
    <thead>
      <tr>
        <!-- <th scope="col">Name</th>
          <th scope="col">From</th>
          <th scope="col">To</th> -->
        <th scope="col">End time</th>
        <th scope="col">Cost</th>
        <th scope="col">Seats</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trip of history_trips">
        <!-- <td>{{trip.trip_name }}</td> -->
        <!-- <td>{{trip.trip_from }}</td> -->
        <!-- <td>{{trip.trip_to }}</td> -->
        <td>{{trip.end_time | date: "shortDate" }}</td>
        <td>{{trip.cost }}</td>
        <td>{{trip.free_slots }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <google-chart [title]="chart.title" [type]="chart.type" [data]="chart.data" [columnNames]="chart.columnNames" [options]="chart.options"> -->

<google-chart [title]="piechart.title" [type]="piechart.type" [data]="piechart.data" [columnNames]="piechart.columnNames"
  [options]="piechart.options">
</google-chart>
<google-chart [title]="linechart.title" [type]="linechart.type" [data]="linechart.data" [columnNames]="linechart.columnNames"
  [options]="linechart.options">
</google-chart>
